@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&f[]=sentient@400,500,700&display=swap");
@import "./colors.css";
@import "./tokens.css";
@import "./typography.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-surface-page);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  overflow-x: hidden;
}
